.cask
*~
*.elc
url/
auto-save-list/
# lisp/
etc/
info/
pkg-src/
OLD/
/.mc-lists.el
/semantic.cache
/share/info
/site-packages/org
elpa/
predictive/
/.org-id-locations
/ac-comphist.dat
/anything-c-adaptive-history
/games/tetris-scores
/history
/mysnippets/org-mode
/plugins/yasnippet
/tramp
/zenburn-theme.el
/eshell/history
/eshell/lastdir
/bookmarks
/projectile-bookmarks.eld
/projectile.cache
/request/curl-cookie-jar

!lisp/wjh-*.el
/TAGS
/.sx/
/emacs.keyfreq
/lisp/wjh-private-stuff.el
/ido.last
/recentf
/smex-items
.DS_Store
/image-dired
/savehist

quelpa
/desktop/.emacs.desktop
